[submodule "3rdparty/ImGuiPack"]
	path = 3rdparty/ImGuiPack
	url = https://github.com/aiekick/ImGuiPack.git
	branch = master
[submodule "3rdparty/ctools"]
	path = 3rdparty/ctools
	url = https://github.com/aiekick/cTools.git
	branch = master
[submodule "3rdparty/VulkanHeaders"]
	path = 3rdparty/VulkanHeaders
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	branch = main
